body {
  font-family: "Open Sans", sans-serif;
}
main {
  background-color: #f8fbfc;

  display: grid;

  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 45%);

  gap: 10px;
  grid-template-areas:
    "a b"
    "c c"
    ;
}
 .box_1{
  grid-area: a;
  background-color:#2E8B57 ;
  display:flex;
  flex-direction:column;
 }
 .box_2{
  background-color:#2E8B57 ; 
  grid-area: b;
  display:flex;
  flex-direction:column;
 }
 .box_3{
  background-color:#2E8B57 ; 
  grid-area: c;
  display:flex;
  flex-direction:column;
 }
 .table{
  overflow-y:auto;
 }
 
 #listcontent {
  height: 500px;
  width: 100%;

  overflow-y: scroll; 
  overflow-x: hidden; 
}
 #grades {
  float: right;
  width: 200px;
  display: inline-block;
  height: 40px;
  outline: none;
  border:0.2px solid #fff;
  font-size: 1.15em;
}
select:focus{
  background: white;
  border:  3px solid #2E8B57;
  /*outline osht highlighti*/
  outline: none;
}
/*#29b96a*/
h1{
  background: #2E8B57; 
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size:25px;
  font-weight: normal;
  text-align: center;
}
#shtoLiterature{
  height: 30px;
  margin-top: 25px;
  border-radius: 10%;
}
ul{
  /* me i hek bulletpoints*/
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li{
  background: #fff;
  height: 40px;
  /*teksti del n mes dmth e merr krejt hapsiren height */
  line-height: 40px;
  color: #666;
  width: 100%;
}

li:nth-child(2n){
  background-color: #f7f7f7;
  }
select:nth-child(2n){
    background-color: #f7f7f7;
  }

input{
  height: 70px;
  font-size: 18px;
  color:#2E8B57;
  background-color: #f7f7f7;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 13px 13px 20px ;
  border:0.2px solid #f7f7f7;
}
input:focus{
  background: white;
  border:  3px solid #2E8B57;
  /*outline osht highlighti*/
  outline: none;
}

span{
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width:0px;
  display: inline-block;
  transition: 0.2s linear ;
  /*mos mu shfaq ikona kur osht width 0*/
  opacity: 0;
}
/*all the trash have the width of 0 until u hover*/

li:hover span{
  width: 40px;
  opacity: 1.0;
}

.objects{
  font-size: 18px;
  color:#2E8B57 ;
  background-color: #f7f7f7;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 13px 10px 20px ;
  border:  3px solid #2E8B57;
}
.rezultati{
  font-size: 18px;
  color:#2E8B57 ;
  background-color: #f7f7f7;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 13px 13px 20px ;
  border:  3px solid #2E8B57;
}

.trstyle{
  background-color: rgb(185, 70, 70);
}
.rows{
  background: snows;
}
#selectLiteraturen{
  font-size: 18px;
  color:#2E8B57;
  background-color: #f7f7f7;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 13px 13px 20px ;
  border:0.2px solid #f7f7f7;

}
#selectLiteraturen:focus{
  background: white;
  border:  3px solid #2E8B57;
  /*outline osht highlighti*/
  outline: none;
}
#file{

  color:#2E8B57 ;
  background-color: #f7f7f7;
  width: 100%;
  box-sizing: border-box;
  border:  3px solid #188648;
}
#shtoButton{
  font-size: 20px;
  color:#2E8B57 ;
  background-color: #f7f7f7;
  box-sizing: border-box;
  padding: 13px 13px 13px 20px ;
  border:  3px solid #219352;
}
#shtoButton:focus{
  border:  3px solid #0a5129;
  /*outline osht highlighti*/
  outline: none;
}
.scroll{
  width: 100%;
  height:250px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.scroll::-webkit-scrollbar {
  width: 12px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #1f5e3a;
} 
.modal{
position: fixed;
/*top left transform : me e qit n mes */
top: 50%;
left: 50%;
transform: translate(-50%,-50%) scale(0);
transition: 200ms ease-in-out;
color: black;
border: 1px solid rgb(15, 94, 38);
border-radius: 10px;
/*me dal permi ccdo elementi*/
z-index: 10;
background-color: rgb(187, 230, 187);
width: 500px;
max-width: 60%;
height: 200px;
font-size: 18px;
}
.modal.active{
  transform: translate(-50%,-50%) scale(1);
}

.modal-header{
padding: 10px 15px;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #2E8B57;
}
.modal-header .title{
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-header .close-button{
  cursor:pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body{
  padding: 10px 15px;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 100px;
}
.modal-body::-webkit-scrollbar {
  width: 12px;
}

.modal-body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #1f5e3a;
} 

#overlay{
  position:fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0,0.4);
  pointer-events: none;
  transition: 200ms ease-in-out;
}
#overlay.active{
  opacity: 1;
  pointer-events:all ;
}

.tdstyle{
  width:500px;
  background-color: rgb(238, 238, 238);
  color: rgb(111, 111, 111);
  padding: 20px 30px;
}

.thstyle{
  background-color: rgb(112, 196, 105);
  color: "white";
  font-weight: "normal";
  height: 10px;
  padding: "20px 30px";
  text-align: center;
  }
