@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
main {
  width: 100%;
  height: 700px;
  margin: 20px 0 0 20px;

  background-color: #f6f7fb;


  display: grid;

  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);

  gap: 10px;
  grid-template-areas:
    "a a"
    "b c";
  font-family: 'Open Sans', sans-serif;
}
.box_1{
  grid-area: a;
  line-height: 70px;
  text-align: center;
  background-color: rgb(217, 83, 79);


}
.box_2{
  line-height: 300px;
  text-align: center;
  background-color:rgb(237, 134, 132);

}
p{
  color:white;
  font-weight: 600;
  text-align: center;
}
#container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width:1000px;
  margin: 0 auto;
}

.label{
  align-self: center;
  justify-self: center;
  font-size:30px;
}

#work{
  grid-area: 1 / 2 / 1 / 2; 
}

#break{
  grid-area: 1 / 4 / 1 / 4;
}

#cycles{
  grid-area: 1 / 3 / 1 / 3;
}

.timer{
  display: flex;
  align-self:center;
  justify-self: center;

  font-size: 30px;
  font-weight: bold;
}

#counter{
  grid-area:2 / 3 / 2 / 3;
}

#work_timer{
  grid-area:2 / 2 / 2 / 2;
}
#break_timer{
  grid-area:2 / 4 / 2 / 4;
}

.button{
  align-self: center;
  justify-self: center;
  width: 100px;
  height: 30px;
  font-size: 20px;
  border-radius: 10%;
  background-color: white;
  font-weight: 600;
  color: gray;
}
#start{
  grid-area: 3 / 2 / 3 / 2;
}
#reset{
  grid-area: 3 / 3 / 3 / 3;
}
#stop{
  grid-area: 3 / 4 / 3 / 4;
}









