/* Everything */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
  background-color: #f6f7fb;

  padding: 0;
  margin: 0;

  width: 100%;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a{
text-decoration: none;
color: inherit;
}

/* Header */
header {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
}

.centeredicon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9b9b9b;
}

#hamburger {
  background-color: white;
  box-sizing: border-box;
  width: 100px;
  height: 100%;
}

#hamburger:hover{
  color: #4d85fe;
}

#info {
  background-color: white;
  width: 100%;

  display:flex;
  flex-direction:row-reverse;

  position: relative;
  z-index: 10;
  box-shadow: -2px 5px 5px -2px rgba(0, 0, 0, 0.15);
}


#photo > i{
  flex-direction: column;
  margin-right:20px;
}

#user{
  width:350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #616161;
  box-shadow: -2px -1px 10px 0px rgba(0,0,0,0.15);
}

#notification{
  width:125px;
  flex-direction: column;
}

#notification:hover{
  color: #4d85fe;
}

#notification-icon{
  position: absolute;
}

/* Notification pop-up badge */
#notification[data-badge]:after {
  content:attr(data-badge);
  position: relative;
  left: 15px;
  top: -16px;
  font-size:.8em;
  background:red;
  color:white;
  width:19px;
  height:19px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
}
#notification[data-badge=""]::after {
  /* visibility: hidden; */
  display: none;
}

/* Navigation */
#container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
}

nav {
  background-color: white;
  width: 100px;

  position: relative;
  z-index: 10;

  box-shadow: 5px -2px 5px -2px rgba(0, 0, 0, 0.15);
}

.nav-icons > a > i{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #9b9b9b;

  width:100%;
  height:100px;
}

.nav-icons .active{
  color: #4d85fe;
  transform: translateX(4px);
}

.nav-icons > a > i:hover:not(.active){
  box-sizing: border-box;
  color: #4d85fe;
  border-right:4px solid #4d85fe;
}

.card {
  border-radius: 5px;
  display: inline-block;
  margin: 1rem;
  background-color: lightgray;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
