:root {
  --primarycolor: rgb(37, 37, 37);
  --darkprimary:rgb(19, 19, 19);
}

main {
  display: grid;

  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);

  /* gap: 10px; */
  grid-template-areas:
    "a b"
    "a c"
}
.card {
  background-color: var(--primarycolor);
}

#latest {
  grid-area: a;
}
#featured {
  display: flex;
  grid-area: b;
}
#cart {
  grid-area: c;
}
