:root {
  --primarycolor: #4d85fe;
  --darkprimary: #3154a0;
}

main {
  display: grid;

  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);

  gap: 10px;
  grid-template-areas:
    "a b b c"
    "d d e f";
}

.card:nth-child(1) {
  grid-area: a;
}
.card:nth-child(2) {
  grid-area: b;
}
.card:nth-child(3) {
  grid-area: c;
}
.card:nth-child(4) {
  grid-area: d;
}
.card:nth-child(5) {
  grid-area: e;
}
.card:nth-child(6) {
  grid-area: f;
}
