:root {
  --primarycolor: #5a95ff;
  --secondarycolor: #3768c3;
  --darkprimary: #2d5eb8;
}

main {
  display: grid;

  grid-template-columns: repeat(2, 50%);

  gap: 10px;
  grid-template-areas: "a b";
}

.card:nth-child(1) {
  grid-area: a;
}
.card:nth-child(2) {
  grid-area: b;
}

.cardcontainer {
  position: relative;
  background-color: var(--primarycolor);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#listheader,
#noteheader {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
}

input {
  outline: none;
  border: none;
}

#todoinput {
  font-size: 25px;
  width: 100%;
  height: 70px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding-left: 50px;
}

.cardcontent {
  height: 100%;
  width: 100%;
  padding-bottom: 150px;
  overflow: auto;
}

.scrollwheel::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: whitesmoke;
}

.scrollwheel::-webkit-scrollbar {
  width: 12px;
}

.scrollwheel::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--secondarycolor);
}

ul {
  list-style-type: none;

  margin-bottom: 75px;
  padding: 0;
}

.todotext {
  padding: 15px 10px 15px 40px;
}
ul li {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  background: white;
  color: rgb(42, 42, 42);
  transition: 0.2s;
  margin: 15px 30px 15px 30px;
  border-radius: 10px;
  -webkit-user-select: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
 .over {
  border: 3px dotted #666;
}

ul li:hover {
  background: #ecf4ff;
}

ul li.checked {
  background: var(--darkprimary);
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 18px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.cardfooter {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  -webkit-user-select: none;
}

.displayinput {
  padding: 0;
  margin-bottom: 10px;
  outline: none;
  float: none;
  height: 100px;
  width: 100px;
  transition: 0.4s;
}

.rotate {
  transform: rotate(45deg);
}

.deletetodo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e74c3c;
  text-align: center;
  color: white;
  width: 0px;
  transition: 0.2s linear;
  opacity: 0;
}
#itemlist > li:hover .deletetodo {
  flex-shrink: 0;
  width: 100px;
  opacity: 1;
}

.note {
  padding:20px 0 5px 0;
  position: relative;
  background-color:aliceblue;
  height: 300px;
  width: 300px;
  text-align: center;
  transition: background-color 0.2s;
  display:flex;
  flex-direction: column;
}
.note:hover {
  background-color: #d9e8ff;
}

#notecontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.notetitle {
  height: 70px;

}
.notecontent {
  height:100%;
}

.notecontent,.notetitle{
  border-radius: 5px;
  margin:5px 10px;
  padding-top:10px;
  background-color:white;
  overflow-y:auto;
  overflow-x:hidden;
  overscroll-behavior: contain;
}

.notetitle{
  margin-top:15px;
}
.note h2,
.note p {
  padding: 0 10px;
  margin: 0;
  outline: none;
  border: none;
  overflow:hidden;
}

.closenote,.dragnote {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 0px;
  transition: 0.2s;
  top: 5px;
}

.closenote{
  color: #e74c3c;
  right: 5px;

}
.dragnote{
  color: #525252;
  left: 5px;
  font-size:27px;
}
.note:hover .closenote {
  font-size: 27px;
}
#addnote:hover{
  transform: scale(1.2);
}

#addnote:active{
transform: scale(1);
}