@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primarycolor: #2e8b57;
  --secondarycolor: #4b9e6f;
  --darkprimary: #205a39;
  /* --primarycolor:#d9534f;
  --secondarycolor:#ed8684; */
}

main {
  display: grid;

  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;

  gap: 10px;
  grid-template-areas:
    "a a"
    "b c";
}
.title {
  position: absolute;
  left: 20px;
  font-size: 10px;
}
.music {
  grid-area: a;
  line-height: 10px;
  text-align: center;
  background-color: var(--primarycolor);
  padding: 20px 0;
}
#pomodoro {
  background-color: var(--primarycolor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  overflow-y: auto;
}
.hidden {
  display: none;
}

#counter {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 14px 0;
}
#counter p {
  margin: 0;
  line-height: 1;
}

#cycle {
  padding-left: 20px;
  font-size: 50px;
}
#timer,
#break {
  padding: 0;
  font-size: 7em;
  font-weight: 300;
}

#pomodoro button {
  color: inherit;
  background-color: var(--primarycolor);
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 10%;
  font-size: 25px;
  cursor: pointer;
}

#pomodoro button:hover {
  transform: scale(1.1);
}

#pomodoro button:active {
  transform: scale(1);
}

#btn_container {
  margin: 30px 0;
  box-sizing: border-box;
  padding: 0 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
}

p {
  color: white;
  font-weight: 600;
  text-align: center;
}

.label {
  align-self: center;
  justify-self: center;
  font-size: 30px;
}
button {
  border: none;
  outline: none;
}

#trees {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primarycolor);
  padding: 20px;
  padding-top: 0;
}
#trees h2 {
  padding: 14px 0;
}

#canvascontainer {
  background-color: var(--secondarycolor);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
#canvascontainer canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
