:root {
  --contentbackground: #f6f7fb;
  --navcolor: white;
  --naviconcolor: #9b9b9b;
  --textcolor: rgb(31, 31, 31);
}

[data-theme="dark_mode"] {
  --contentbackground: #3a3a3a;
  --navcolor: rgb(42, 42, 42);
  --naviconcolor: rgb(141, 141, 141);
  --textcolor: white;
}

/* Everything */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

html {
    height: 100vh;
}

body {
  background-color: var( --navcolor);

  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;

}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
}

.centeredicon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9b9b9b;
}

#hamburger {
  flex-shrink: 0;
  background-color: var(--navcolor);
  /* box-sizing: border-box; */
  width: 100px;
  height: 100%;
  z-index: 9;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.15);
}

#hamburger:hover {
  color: var(--primarycolor);
}

#info {
  background-color: var(--navcolor);
  width: 100%;

  display: flex;
  flex-direction: row-reverse;

  position: relative;
  z-index: 10;
  box-shadow: -2px 5px 5px -2px rgba(0, 0, 0, 0.15);
}

#photo {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 60px;
  background-size: contain;
  overflow: hidden;
}
#photo > img {
  max-width: 100%;
  max-height: 100%;
}

#photo > i {
  flex-direction: column;
}

#user {
  width: 500px;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  color: var(--textcolor);
  -webkit-user-select: none;
  position: relative;
}

#settingsicon {
  margin-left: 30px;
}

#settingdropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  margin-top: 10px;
  right: 25px;
  width: 330px;
  z-index:10;
  /* height: 450px; */
  background-color: var(--primarycolor);
  box-shadow: 0px 10px 30px 3px rgba(0, 0, 0, 0.35);
  border-radius: 7px;
}
#settingdropdown::after {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  border: inherit;
  left: 50%;
  top: -10px;
  z-index: -5;
  transform: rotateZ(45deg);
  background-color: inherit;
}

.setting {
  text-transform: uppercase;
  margin: 10px 20px;
  background-color: var(--navcolor);
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.15);
  font-size: 25px;
  padding-left: 30px;
  overflow:hidden;
  color: var(--textcolor);
}
.setting:hover {
  background-color: var(--contentbackground);
}
.setting:first-child {
  margin-top: 20px;
}
.setting:last-child {
  margin-bottom: 20px;
}

#user:hover #settingsicon {
  color: var(--primarycolor);
}

#notification {
  width: 125px;
  box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.13);
  flex-direction: column;
  z-index: inherit;
}

#notification:hover {
  color: var(--primarycolor);
}

#notification-icon {
  position: absolute;
}

/* Notification pop-up badge */
#notification[data-badge]:after {
  content: "2";
  position: relative;
  left: 15px;
  top: -16px;
  font-size: 0.8em;
  background: red;
  color: white;
  width: 19px;
  height: 19px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  box-shadow: 0 0 1px rgb(51, 51, 51);
}
#notification[data-badge="2"]::after {

  display: none;
}

/* Navigation */
#container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: var(--navcolor);
  width: 100px;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
  box-shadow: 5px -2px 5px -2px rgba(0, 0, 0, 0.15);
  transition: width 0.2s, opacity 0.2s;
}

.hidenav {
  width: 0px;
  opacity: 0;
}

.nav-icons > a > i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--naviconcolor);

  width: 100%;
  height: 100px;
}

.nav-icons .activePage {
  color: var(--primarycolor);
  transform: translateX(4px);
}

.nav-icons > a > i:hover:not(.activePage) {
  box-sizing: border-box;
  color: var(--primarycolor);
  border-right: 4px solid var(--primarycolor);
}

main {
  width: 100%;
  height: 100%;
  padding: 20px 100px 20px 50px;
  box-sizing: border-box;
  background-color: var(--contentbackground);
}

.card {
  border-radius: 5px;
  position: relative;
  display: inline-block;
  margin: 1rem;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.cardtitle {
  text-transform: uppercase;
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

.text {
  word-wrap: break-word;
  overflow: auto;
  font-size: 20px;
  font-weight: 600;
}

.smalltitle {
  text-transform: uppercase;
  color: #292929;
  font-size: 30px;
  font-weight: 600;
}

.button {
  border: none;
  outline: none;
  background: none;
  color: var(--navcolor);
  margin-right: 200px;
  padding: 10px;
  height: 1px;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 90px;
  margin:0 20px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(55px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
