body {
  font-family: "Open Sans", sans-serif;
}

main {
  width: 100%;
  height: 400px;
  margin: 20px 0 0 20px;

  background-color: #f8fbfc;

  display: grid;

  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 75%);

  gap: 10px;
  grid-template-areas:
    "  a  b "
    "  c  c "
    ;
}
 .box_1{
  grid-area: a;
  background-color:#2E8B57 ;
  max-height: 400px;
 }
 .box_2{
  background-color:#2E8B57 ; 
  grid-area: b;
  max-height: 400px;
 }
 .box_3{
  background-color:#2E8B57 ; 
  grid-area: c;
  max-height:300px ;
 }
 .literatura{
  background-color:#2E8B57 ; 
  grid-area: b;
  max-height: 400px;
 }
 
 #listcontent {
  height: 500px;
  width: 100%;

  overflow-y: scroll; 
  overflow-x: hidden; 
}
 #grades {
  float: right;
  width: 100px;
  display: inline-block;
  height: 40px;
  outline: none;
  border:0.2px solid #fff;
}
select:focus{
  background: white;
  border:  3px solid #2E8B57;
  /*outline osht highlighti*/
  outline: none;
}
/*#29b96a*/
h1{
  background: #2E8B57; 
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size:25px;
  font-weight: normal;
}
ul{
  /* me i hek bulletpoints*/
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  background: #fff;
  height: 40px;
  /*teksti del n mes dmth e merr krejt hapsiren height */
  line-height: 40px;
  color: #666;
}

li:nth-child(2n){
  background-color: #f7f7f7;
  }
select:nth-child(2n){
    background-color: #f7f7f7;
  }

input{
  font-size: 18px;
  color:#2E8B57;
  background-color: #f7f7f7;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 13px 13px 20px ;
  border:0.2px solid #f7f7f7;
}
input:focus{
  background: white;
  border:  3px solid #2E8B57;
  /*outline osht highlighti*/
  outline: none;
}

span{
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width:0px;
  display: inline-block;
  transition: 0.2s linear ;
  /*mos mu shfaq ikona kur osht width 0*/
  opacity: 0;
}
/*all the trash have the width of 0 until u hover*/

li:hover span{
  width: 40px;
  opacity: 1.0;
}

#objects{
  font-size: 18px;
  color:#2E8B57 ;
  background-color: #f7f7f7;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 13px 13px 20px ;
  border:  3px solid #2E8B57;
}
.rezultati{
  font-size: 18px;
  color:#2E8B57 ;
  background-color: #f7f7f7;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 13px 13px 20px ;
  border:  3px solid #2E8B57;
}