/* Everything */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

html {
  height: 100vh;
}

body {
  background-color: #f6f7fb;

  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
}

.centeredicon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9b9b9b;
}

#hamburger {
  flex-shrink: 0;
  background-color: white;
  /* box-sizing: border-box; */
  width: 100px;
  height: 100%;
  z-index: 9;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.15);
}

#hamburger:hover {
  color: #4d85fe;
}

#info {
  background-color: white;
  width: 100%;

  display: flex;
  flex-direction: row-reverse;

  position: relative;
  z-index: 10;
  box-shadow: -2px 5px 5px -2px rgba(0, 0, 0, 0.15);
}

#photo {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 60px;
  background-size: contain;
  overflow: hidden;
}
#photo > img {
  max-width: 100%;
  max-height: 100%;
}

#photo > i {
  flex-direction: column;
}

#user {
  width: 500px;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  color: black;
  -webkit-user-select: none;
  position: relative;
}

#settingsicon {
  margin-left: 30px;
}

#settingdropdown {

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  margin-top:10px;
  right:25px;
  width: 70%;
  /* height: 450px; */
  background-color:#4d85fe;
  box-shadow: 0px 10px 30px 3px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
}
#settingdropdown::after {
content:'';
width:70px;
height:70px;
position: absolute; 
border:inherit;
left:50%;
top:-10px;
z-index:-10;
transform: rotateZ(45deg);
background-color:inherit;
}


.setting{
margin:10px 20px;
background-color: whitesmoke;
display: flex;
align-items: center;
height:50px; 
border-radius: 5px;
box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.15);
font-size: 25px;
padding-left:30px;
/* font-weight: bold; */
color:#292929;
}
.setting:hover{
  background-color: rgb(226, 226, 226);
}
.setting:first-child{
  margin-top:20px;
}
.setting:last-child{
  margin-bottom:20px;
}

#user:hover #settingsicon {
  color: #4d85fe;
}

#notification {
  width: 125px;
  box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.13);
  flex-direction: column;
  z-index: inherit;
}

#notification:hover {
  color: #4d85fe;
}

#notification-icon {
  position: absolute;
}

/* Notification pop-up badge */
#notification[data-badge]:after {
  content: attr(data-badge);
  position: relative;
  left: 15px;
  top: -16px;
  font-size: 0.8em;
  background: red;
  color: white;
  width: 19px;
  height: 19px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  box-shadow: 0 0 1px #333;
}
#notification[data-badge=""]::after {
  /* visibility: hidden; */
  display: none;
}

/* Navigation */
#container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: white;
  width: 100px;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
  box-shadow: 5px -2px 5px -2px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}

.hidenav {
  width: 0px;
  opacity: 0;
}

.nav-icons > a > i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #9b9b9b;

  width: 100%;
  height: 100px;
}

.nav-icons .active {
  color: #4d85fe;
  transform: translateX(4px);
}

.nav-icons > a > i:hover:not(.active) {
  box-sizing: border-box;
  color: #4d85fe;
  border-right: 4px solid #4d85fe;
}

main {
  width: 100%;
  height: 100%;
  padding: 20px 100px 20px 50px;
  box-sizing: border-box;
  background-color: #f8fbfc;
}

.card {
  border-radius: 5px;
  position: relative;
  display: inline-block;
  margin: 1rem;
  background-color: lightgray;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.cardtitle {
  text-transform: uppercase;
  color: white;
  font-size: 35px;
  font-weight: bolder;
}

.text {
  word-wrap: break-word;
  overflow: auto;
  font-size: 20px;
  font-weight: 600;
}

.smalltitle {
  text-transform: uppercase;
  color: #292929;
  font-size: 30px;
  font-weight: 600;
}

.button {
  border: none;
  outline: none;
  background: none;
  color: white;
  margin-right: 200px;
  padding: 10px;
  height: 1px;
}
