body
{
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 100%;
  height: 700px;
  margin: 20px 0 0 20px;

  background-color: #f6f7fb;


  display: grid;

  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 375px);

  gap: 10px;
  grid-template-areas:
    "a a b"
    "a a b"
    "c c c";
}

.comingsoon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: bold ;
  color: #747474;
}

#todolist {
  background-color: lightgray;
  grid-area: a;
  overflow-y: scroll;
  overflow-x: hidden;
}

.listheader {
  background-color: white;
  height: 60px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

/* Clear floats after the header */
.listheader:after {
  content: "";
  display: table;
  clear: both;
}
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 0 0 0 40px;
  float: left;
  font-size: 20px;
}

/* Style the "Add" button */
.addBtn { 
  padding: 10px;
  width: 25%;
  background: #e9e9e9;
  color: #313131;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
input,
.addBtn {
  box-sizing: border-box;
  height:100%;
}

.addBtn:hover {
  background-color: #bbb;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 15px 10px 15px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  user-select: none;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}
