/* Everything */

html,
body {
    background-color: #f6f7fb;
    padding: 0;
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


/* Header */

header {
    background-color: white;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.15);
}


/* Navigation */

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100px;
    height: 100px;
    top: 0;
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.15);
}

.fas {
    color: gray;
}

.fas:hover {
    color: #4d85fe;
}

nav {
    background-color: white;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100vh;
    position: fixed;
    bottom: 0;
    box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.15);
}


/* Sidebar */

.side-button {
    font-size: xx-large;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

.side-button:focus {
    outline: none;
}

.active {
    box-shadow: inset -4px 0px 0px 0px #4d85fe;
}

.active .fas {
    color: #4d85fe;
}


/* Content */

main {
    background-color: #f6f7fb;
    display: flex;
    flex-wrap: wrap;
    margin: 150px 100px 100px 150px;
}

.card {
    border-radius: 5px;
    display: inline-block;
    margin: 1rem;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card-1 {
    background-color: #fff;
    width: 700px;
    height: 500px;
}

.card-2 {
    background-color: #4d85fe;
    width: 700px;
    height: 500px;
}