@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primarycolor: #377ded;
  --secondarycolor: #3070d4;
  --darkersecondary:#18386b;

}
html{
  scroll-behavior: smooth;
}


img {
  user-select: none;
}
section,
footer {
  padding: 0 15% 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}


li:hover, a:hover,td:hover,i:hover,#download:hover{
  transform: scale(1.2);
}
li:active, a:active,td:active,i:active,#download:active{
  transform: scale(1);
}

path{
  fill:var(--primarycolor);
  fill-opacity: 1;
}

p {
  font-size: 20px;
}

/* <!-- LOGO AND NAVIGATION --> */
header {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 15% 0 15%;
  height: 200px;
  background-color: var(--primarycolor);
  color: white;
}
header img {
  height: 100%;
  object-fit: contain;
}
nav {
  height: 100%;
  background-color: var(--primarycolor);
  display: flex;
  align-items: center;
}
a {

  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
}

header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

header li {
  padding: 20px;
}
.login {
  border: 2px solid white;
  padding: 10px 30px 10px 30px;
  border-radius: 25px;
  text-decoration: none;
}

/* <!-- INTRO AND APPLICATION PLACEHOLDER --> */
#intro {
  background-color: var(--primarycolor);
  padding-top: 100px;
  color: white;
}

#intro div {
  padding-right: 100px;
}

#intro h1 {
  font-size: 50px;
}

h1,
h2,
h3 {
  font-weight: 500;
  letter-spacing: 3px;
}
#intro p {
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 500;
  font-size: 20px;
}
#intro img {
  max-width: 40%;
  object-fit: contain;
}

/* <!-- FEATURES --> */
#features {
  flex-direction: column;

  margin: 150px 0 200px 0;
}

.feat_content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.feat_content:nth-child(odd) {
  flex-direction: row-reverse;
}

.feat_content > div {
  max-width: 40%;
}

#features img {
  max-width: 30%;
}

h2 {
  color: #333335;
  font-size: 45px;
}

/* <!-- ABOUT --> */

#about {
  background-color: #eaebe6;
  flex-direction: column;
  justify-content: center;
}

#ab_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#about > h2 {
  margin: 75px 0 50px 0;
}

.ab_content {
  width: 15%;
  text-align: center;
  margin: 20px 100px 70px 100px;
}
.ab_content h2 {
  font-size: 30px;
}

.ab_content img {
  width: 90%;
}

/* <!-- REVIEWS --> */

#reviews {
  flex-direction: column;
  text-align: center;
  padding: 100px 0 20px 0;
}

#reviews h2 {
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}

#reviews p {
  color: var(--primarycolor);
}

/* <!-- REGISTER --> */
svg {
  display: block;
  margin: 0 auto;
}

#register {
  background-color: var(--primarycolor);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 100px;
}
#register h2 {
  color: white;
  margin: 0;
}
#register p {
  margin-bottom: 50px;
}

#register a {
  text-transform: uppercase;
  font-size: 25px;
  color: inherit;
}

/* <!-- FOOTER --> */
footer {
  width: 100%;
  padding-top: 50px;
  background-color: var(--secondarycolor);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: initial;
}

.fo_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 100px;
}

.sign_up {
  display: flex;
  flex-direction: column;
}
table {
  padding-top: 20px;
  height: 100px;
}
table td {
  font-weight: 300;
  font-size: 20px;
}
#newspaper {
  display: flex;
  align-items: center;
  width: 100%;
}

#newspaper input {
  outline: none;
  border: none;
  height: 50px;
  padding: 0;
  padding-left: 20px;
  font-family: inherit;
  font-size: 17px;
  display: inline;
}

#newspaper input[type="submit"] {
  width: 150px;
  padding: 0;
  color: white;
  background-color: var(--darkersecondary);
}
#newspaper input[type="email"] {
  width: 100%;
}

td {
  padding-left: 30px;
  padding-right: 40px;
  text-transform: uppercase;
}

tr a {
  line-height: 30px;
  font-weight: 300;
  font-size: 20px;
}

#icons {
  font-size: 50px;
}
#icons i {
  margin: 0 3px;
}
.fo_container p {
  margin: 0;
}
