#box_1{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    position: relative;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(237, 134, 132);
    border-radius: 5px;
    margin-left:10%;
}
    .main button{
        padding: 10px 12px;
        margin: 0 10px;
    }
    .main #logo{
        position: absolute;
        top: 10px;
        left: 30px;
        font-size: 20px;
        color:white;
    }
    .main #logo i{
        margin-right: 15px;
    }
     
    /* left & right part */
    .right,.left{
        position: relative;
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /* song image */
.left img{
    height: 180px;
    width: 60%;
    border-radius: 15px;
    box-shadow: 1px 0px 20px 12px rgba(240,240,240,0.2);
}
 
/* both range slider part */
input[type="range"] {
    -webkit-appearance: none;
    width: 40%;
    outline: none;
    height: 2px;
    margin: 0 15px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background:  rgb(217, 83, 79);
    border-radius: 50%;
    cursor: pointer;
}
.right input[type=range]{
    width: 40%;
}
 
/* volume part */
.left .volume{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.left .volume p{
    font-size: 15px;
}
.left .volume i{
    cursor: pointer;
    padding: 8px 12px;
    background:  rgb(217, 83, 79);
}
.left .volume i:hover{
    background: rgba(245,245,245,0.1);
}
.volume #volume_show{
    padding: 8px 12px;
    margin: 0 5px 0 0;
    background: rgba(245,245,245,0.1);
}
 
 

    