body {
  background-image: url('../images/lost/lost.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  color: white;
  font-family: 'Open Sans', sans-serif;
}

#container{
    display: none;
    background-color: antiquewhite;
    width: calc(100% - 600px);
    height: calc(100vh - 300px);
    box-shadow: 0px 20px 17px 13px rgba(230, 224, 224, 0.15);
    margin-top: 40px;
}

/* remove all text-decoration from the  anchor tag */
a:visited,
a:link,
a:active,
a:hover{
    color: #4d85fe;
    text-decoration: none;
}
/* display information about the page */
#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 150px;
}
#info h1{
    text-shadow: 6px -2px 24px white;
}
#info h2{
    text-shadow: 0 0 24px #419ffc;
}