body {
  background-image: url('../images/lost/lost.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  color: white;
}

#container{
    background-color: antiquewhite;
    width: calc(100% - 100px);
    height: calc(100vh - 200px);
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 150px;
}