*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
    body{
      position: relative;
      min-height: 100vh;
      background-color: #ffffff;
      background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
      display: flex;
      font-family: sans-serif;
    }

  
  input, button{
    border:none;
    outline: none;
    background: none;
  }
  
  .cont{
    overflow: hidden;
    position: relative;
    background: #fff;
    background: #ffff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    margin: auto;
    width: 800px;
    height: 480px;
    display: flex;
  }
  
  .form{
    position: relative;
    width: 520px;
    height: 100%;
    padding: 50px 30px;
    color: #505f75;
  }
  
  h2{
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  
  label{
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
  }
  
  label span{
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
  }
  
  input{
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Nunito', sans-serif; 
  }
  
  button{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  
  .submit{
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left, #7579ff, #3791db);
  }
  
  .submit:hover{
    background: -webkit-linear-gradient(left, #5988ee, #7579ff);
  }
  .sub-cont{
    overflow: hidden;
    position: absolute;
    left: 550px;
    top: 0;
    width: 900px;
    left: 550px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
  }
 
  .img{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
    background: #377ded;
  }
  .img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
  }  
  .img-text{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
  }
  
  .img-text h2{
    margin-bottom: 10px;
    font-weight: normal;
  }
  
  .img-text p{
    font-size: 14px;
    line-height: 1.5;
  }
  .img-text a:link, a:visited {
      background-color: #8ec1eb;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
    a:hover, a:active {
      background-color: rgb(111, 210, 235);
    }
  
 