/* base styles */
* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 100%;
  top: 80px;
}

button:focus {
  outline: none;
}
button {
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}
.card {
  background-color: #a7a4a4;
}

/* main section */
main {
  display: flex;
  padding: 0;
}

.left {
  background-color: #e2e2e2;
  flex-grow: 1;
  height: fit-content;
  width: fit-content;
}
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
}
.product {
  flex: 1 1 220px;
  /* flex basis of the product placeholder needs to be same as this flex basis */
}
/* product image */
figure {
  text-align: center;
}
.product figure img {
  width: 200px;
  padding: 10px;
}
.product .info {
  text-align: center;
  float: right;
  width: 100%;
}
/* a placeholder to help with keeping the number of elements per row the same */
.product-placeholder {
  /* same width and flex-basis as the product */
  width: 220px;
  height: 0px;
  margin: 1rem;
  background-color: transparent;

  flex-basis: 220px;
  flex-grow: 1;
}

/* pick color */
.colorswitcher {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.colorswitcher button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.colorswitcher #red {
  background-color: red;
}
.colorswitcher #green {
  background-color: green;
}
.colorswitcher #blue {
  background-color: blue;
}
.colorswitcher #purple {
  background-color: purple;
}
.activeColor {
  height: 28px !important;
  width: 28px !important;
  left: calc(100% - 8px) !important;
  top: calc(100% - 8px) !important;
  border: 5px solid;
}

/* buttin to move product to the cart */
.tocart {
  width: 100%;
  color: green;
}
.tocart:active {
  color: black;
}

/* Right side of tha page, which contains top offers, bought products and the cart */
.right {
  float: right;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

/* set the content inside the cards in the right */
.content {
  overflow: scroll;
  overscroll-behavior: contain;
  max-height: calc(30vh);
}
.content::-webkit-scrollbar {
  background-color: transparent;
}
.content::-webkit-scrollbar-thumb {
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #e7e7e7; /* creates padding around scroll thumb */
}
.content::-webkit-scrollbar-corner {
  background-color: transparent;
}

.offer,
.owned,
.oncart {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #e7e7e7;
}

.oncart .price {
  padding-top: 0;
}
.removeCart {
  color: #8f0a0a;
  float: left;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img {
  max-width: 100px;
  /* margin: 11px; */
}
.right .info {
  display: block;
  overflow: hidden;
  padding: 7px 17px;
  flex-grow: 1;
}

/* title of the section */
.contentheader {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 10;
}
.cardtitle {
  text-transform: uppercase;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  line-height: normal;
}

/* the name of the product */
.name {
  color: #4b4b4b;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

/* Price info */
.product .info .price {
  padding: 6px 0 6px 8px;
}
.price {
  font-weight: bold;
}
.usual {
  color: #6d0c0c;
  text-decoration: line-through;
}
.special {
  color: green;
  font-weight: bold;
}

/* media queries */
@media only screen and (max-width: 855px) {
  .left,
  .right {
    width: 100%;
  }
  .right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .right_card {
    flex-grow: 1;
    height: fit-content;
  }
}
