@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html,
body{
	width: 100%;
	margin: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main h1,
main h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-style: normal;
	padding: 10px;
	text-align: center;
} 


header{
	display: block;
	background-color: red;
	width: 100%;
	top:0;
	padding: 0px 0px;
	overflow: hidden;
}
header #siteName{
	display: inline-block;
	text-indent: 5%;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-style: normal;
	padding: 10px;
}
header #siteName:hover{
	color: white;
}
header .welcome{
	margin: 10px;
	font-weight: bold;
	cursor: pointer;
	background-color: white;
}
header .welcome:hover{
	color: red;
}

nav{
	overflow: hidden;
	background-color: #333;
	/* position: sticky; */
	top: 0;
}
.navigation-list{
	list-style-type: none;
	margin: auto;
	padding: 0px 0px;
	width: 100%;
	position: sticky;
	left: 0;
}
.navigation-list ul {
	z-index:100;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	list-style-type: none;
	margin: auto;
	padding: 0px 10px;
}
.navigation-list li:last-child {
	float: right;
	border-right: none;
  }
.navigation-list li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid #333;
	float: left;
	background-color: rgb(0, 0, 0);
}
.navigation-list li #login-link {
	float: right;
}  
.navigation-list li a:hover:not(.active) {
	background-color: #333;
	color: red;
}
.navigation-list li .active {
	background-color: red;
}

.search-bar{
	text-align: center;
	padding: 0 0 0 0;
	max-width: 200px;
	margin: 0 0 0 0;
	height: 47px;
}
.search-bar .search-input{
	width: 75%;
	height: 100%;
	line-height: 47px;
}
.search-bar button{
	float: center;
	padding: 6px 6px 6px 6px;
	background: white;
	width:25%;
	height: 100%;
	float: right;
}
.search-bar button:hover {
	background: red;
	cursor: pointer;
}

nav #main-search{
	float:right;
}
  
@media screen and (max-width: 630px) {
	.navigation-list li a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	#about-link {
		float: none;
		width: 100%;
	} 
	nav #main-search{
		float:left;
	}
}


main{
	padding: 5px;
	margin: 20px;
}

main p::first-letter{
	color: red;
	float: left;
	font-family: Georgia;
	font-size: 75px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
}
