@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body{
    margin:0;
    font-family: 'Open Sans', sans-serif;

}

header{
    padding:30px 15px 30px 15px;
background-color:rgb(55,125,236) ;
color: white;

}
.icon1{
    float:inline-start;
}
nav{
    padding-top:30px;
    padding-left:60%;
}
header a{
text-decoration: none;
color:white;

text-transform: uppercase;
font-size: 16px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
}

.contains{
    width:90%;
    margin:auto;
    overflow:hidden;
    display: flex;
    justify-content: center;
  
}
.contains1{
    width:100%;
    margin:auto;
    overflow:hidden;
    display: flex;
  
}

.box_left{
    color:white;
    background: rgb(55,125,236);
    padding-left: 20px;
}
#sec_1, #sec_5{
    height: 100%;
    width:100%;
    background: rgb(55,125,236);

}
.box_left {
    width:60%;
    padding-left:20px;
}

 .box_1, .box_2{
     width:50%;
    
 }

 #sec_3{
     background-color:rgb(215, 212, 205);
 }
 .box_a{
    padding-left: 10%;
 }
 .box_d{
    width:50%;
    padding-left: 10%;
}

#sec_4 .big h1, #sec_3 h1{
   text-align: center;
}
.small, .last_box{
 
  padding:0 45% 0 45%;
  color:white;
}

.icons img{
   width:20px;
   height:20px;

}
.last_box{
padding-bottom: 20px;
padding-top:40px;
margin-top: 0;
}

.sign_up{
    padding-top:20px;
    padding-left:50%;
}
.table{
    padding-top:20px;
   
}
#footer{
    
    height: 400px;
    width: 100%;
    background-color:rgb(48, 112, 212);
    color:white;
    margin-top: 0;
}
.copyright, .icons{

    padding-top: 100px;
}
p{
    font-size: 20px;

}

    /*Media Queries*/
    @media(max-width:768px){
       
    nav{
        padding-left:15%;
    }
   header a{
       font-size: 13px;
   }
   .icon1{
    float:inline-start;
   }
   

    .box_1, .box_2{
        display:block;
       
        
    }
    #sec1{
        height: 500px;
        background: rgb(55,125,236);
        display:block;
    }
        
    #sec1 img{
        width:300px;
        padding-top: 35px;
      height:200px;
    }
    .box_left{
       padding: 0, 30 px,0,30 px;
       font-size: 13px;
       float: left;
    }

    #sec2{
        height: 600px;
     display:block;

    }

}

















