body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;

}

header{
    padding:30px 15px 30px 15px;
background-color:rgb(55,125,236) ;
color: white;

}
nav{
    padding-top:30px;
    padding-left:60%;
}
header a{
text-decoration: none;
color:white;

text-transform: uppercase;
font-size: 16px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
}

.contains{
    width:90%;
    margin:auto;
    overflow:hidden;
    display: flex;
    justify-content: center;
  
}
.contains1{
    width:100%;
    margin:auto;
    overflow:hidden;
    display: flex;
  
}

.box_left{
    color:white;
    background: rgb(55,125,236);
    padding-left: 20px;
}
#sec_1, #sec_5{
    height: 100%;
    width:100%;
    background: rgb(55,125,236);

}
.box_left {
    width:60%;
    padding-left:20px;
}

 .box_1, .box_2{
     width:50%;
    
 }

 #sec_3{
     background-color:rgb(215, 212, 205);
 }
 .box_a{
    padding-left: 10%;
 }
 .box_d{
    width:50%;
    padding-left: 10%;
}

#sec_4 .big h1, #sec_3 h1{
   text-align: center;
}
.icons img{
   width:20px;
   height:20px;

}



















